  body {
      display: flex;
      justify-content:flex-end;
      align-items: center;
      height: 80vh;
      margin: 20;
      background-size: cover;
     background-position: center;

    }
    
    .registration-form {
      width: 430px;
      padding: 30px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      position: absolute;
      top: 65%;
      right: 150px; /* Adjust this value to set the distance from the right side */
      transform: translateY(-50%);
    }
    
    .registration-form h2 {
      text-align: center;
    }
    
    
    .registration-form input {
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 10px;
      background-color: #f2f2f2;
      color: #333;
      font-size: 20px;
    }
    .registration-form button {
      width: 100%;
      padding: 10px;
      background-color:#ccc;
      color:#333;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      font-weight: bold;
      font-size: 25px;
    }
        .registration-form textarea {
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 10px;
      background-color: #f2f2f2;
      color: #333;
      font-weight: bold;
    }
      .registration-form select {
      width: 105%;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 10px;
      background-color: #f2f2f2;
      color: #333;
      font-weight: bold;
    }

    .registration-form label{
      font-family: Arial, sans-serif;
      font-size: 16px;
      font-weight: bold;
      padding: 10px;
      margin-bottom: 10px;
  }