table {
    border-collapse: collapse;
    width: 80%;
    color:#000000;
    box-shadow: 2px 2px 4px rgba(1, 1, 1, 0.5);
  }
  
  th, td {
    border: 3px solid black;
    padding: 8px;
    
  }
  
  th {
    font-weight:bold;
    font-size:20px;
  }
  
  td {
    
    font-size:18px;
  }
  h2{
  font-size:30px;
  font-weight:bold;
  align-items:center;
  }
   body {
      align-items: center;
      margin: 100;
      background-size: cover;
      background-position: middle;

    }